* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: darkgrey;
}

a:hover {
  text-decoration: none;
}

.navi {
    padding-top: 14px;
    padding-right: 15px;
}  

.wrapper {
    background-color: lightgrey;
    border: 2px darkslategray;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 20px;
    max-width: 1000px;
}     

.willbehidden {
    visibility: hidden;
}

.navi2 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: ghostwhite;
    text-decoration: none;
}

.navi2:hover {
    color: skyblue;
}  

a {
    text-decoration: none;
}  

a:hover {
    color: seagreen;
}  

.news {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}  

.header {
    display: flex;
    background-color: #4C464D;
    font-family: 'Playfair Display', serif;
}      

.titilename {
    flex: 1;
    margin-top: 2px;
    padding-left: 3%;
}    

img.resize {
    width: 400px;
    height: 500px;
}     

.wraper2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}  

h2.newstitle {
    margin-left: 40px;
} 

.inside {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 90%;
    height: auto;
}      

.nextoit {
    float: left;
    margin-right: 15px;
    width: 45%;
    height: auto;

}

li {
    list-style: none;
}

.portrait {
    width: 56.5px;
    height: auto;
    margin-right: 10px;
}

.films {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
}

h4 {
    text-align: center;
}

.poster {
    width: 90%;
    height: auto;
    margin-right: 10px;
}

.resize {
    width: 90%;
    height: auto;
}

.bio {
    max-height: 200px;
    width: 52.5%;
    overflow: scroll;
}

.review {
    width: 95%;
}